<div class="container">
<h1>Cadastro de Produto:</h1>
  <form>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="text" class="form-control" id="name" placeholder="Digite o seu nome">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="text" class="form-control" id="price" placeholder="Digite o preço">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="text" class="form-control" id="category" placeholder="Digite a categoria">
  </div>
</form>
<button type="button" class="btn btn-primary">Primary</button>

</div>
